extends layout

block content
  div.container
    div#billboard.row.gray.gradient
      div.span12.intro
        h2!= title
    div#content.row.white
      include menu
      div.span8.content_column
        div.row
          div.span8
            !{body}
