div#footer
  div.container
    div.row
      div.span4
        h4 PaaS for Public and Private Clouds
        p Easily build and deploy fast, scalable, and reliable applications to the cloud in seconds. Yeah, it's that easy.
      div.span2
        h4 &copy;&nbsp;
          script document.write(new Date().getFullYear()+" AppFog");
        ul
          li
            em All Rights Reserved
          li
            a(href="https://www.appfog.com/products/appfog/service_agreement/") Service Agreement
      div.span2
        h4 Company
        ul
          li 
            a(href="https://www.appfog.com/about/") About AppFog
          li 
            a(href="https://www.appfog.com/about/people/") The Team
      div.span4
        h4 Share AppFog
        ul#social
          li#facebook
            a(href="https://www.facebook.com/pages/AppFog/159333004147490") Facebook
          li#twitter
            a(href="https://twitter.com/#!/appfog") Twitter
          li#linkedin
            a(href="https://www.linkedin.com/company/appfog") LinkedIn
